.carousel-container {
    max-width: 750px;
    margin: 0 auto;
    padding: 40px;
  }
  
  .testimonial-card {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 30vh;
  }
  
  .testimonial-stars {
    margin-bottom: 10px;
  }
  
  .testimonial-star {
    color: #f39c12;
    font-size: 20px;
    margin-right: 2px;
  }
  
  .testimonial-text {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .testimonial-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .testimonial-avatar {
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .testimonial-name {
    font-size: 16px;
    margin: 0;
  }
  
  .testimonial-position {
    font-size: 12px;
    color: #ccc;
  }



  @media (max-width: 450px){
    .testimonial-card {
    
      height: 40vh;
    }

    .carousel-container {
      max-width: 450px;
      
    }
  }
  @media (max-width: 375px){
    .testimonial-card {
    
      height: 50vh;
    }

    .carousel-container {
      max-width: 450px;
      
    }
  }
  